<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeHollow.AzureBillingApi" version="1.1.0.2" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.9" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net46" />
</packages>